.planetContainer {
    margin-right: 20px;
}

.planetImg {
    position: fixed;
    top: 138px;
    left: -136px;
}

@media screen and (max-width: 750px) {
    .planetImg {
        left: -329px;
    }
}