.asteroidWrapper {
    width: 400px;
    margin-bottom: 24px;
}

.asteroidApproachDate {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.asteroidGeneralInfo {
    display: flex;
    margin-bottom: 10px;
}

.asteroidDistanceToEarth {
    width: 150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 8px;
}

.asteroidDiameterWrapper {
    display: flex;
}

.asteroidDiameterImg {
    display: flex;
    align-items: center;
}

.asteroidAdditionalInfo {
    margin-left: 8px;
}

.asteroidName {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid var(--white);
}

.asteroidDiameter {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.asteroidActions {
    display: flex;
}

.asteroidActionBtn {
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    width: 90px;
    height: 30px;
    padding: 2px 11px 2px 11px;
    border-radius: 16px;
    gap: 2px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.orderAsteroidBtn {
    background-color: var(--orange);
    color: var(--white);
}

.unorderAsteroidBtn {
    background-color: transparent;
    color: var(--light-orange);
}

.dangerousAsteroid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 500px) {
    .asteroidWrapper {
        width: 300px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 420px) {
    .asteroidWrapper {
        width: 250px;
        margin-bottom: 24px;
    }
}
