:root {
    --black: #000000;
    --white: #FFFFFF;
    --orange: #F86600;
    --light-orange: #F5DED9;
    --dark-red: #e12c3b;
    --dark-green: #23a924;
    --grey: #FFFFFF80;
    --dark-grey: #232526;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);

    background: var(--black);
}

a {
    color: inherit;
    text-decoration: none;
}
