.asteroidsListContainer {

}

.asteroidsListTitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.asteroidsListSelector {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.asteroidsList {

}
