.asteroidWrapper {
    width: 100%;
}

.asteroidTitle {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
}

.asteroidTableWrapper {
    width: 100%;
}

.asteroidTableName {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.planetImg {
    position: fixed;
    top: -100px;
    right: -50px;
    z-index: -1;
}

.asteroidSubTitle {
    display: flex;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.asteroidSubTitleItem {
    font-size: 16px;
    font-weight: 700;
    padding-right: 50px;
}

.approachItemWrapper {
    display: flex;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.approachDateTime {
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
}

.approachVelocity {
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
}

.approachDistance {
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
}

.approachOrbit {
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
}
